/* Підключення шрифтів */
/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap"); */

/* Локальне підключення шрифтів */
@import url("fonts.css");

/* Скидання стилів */
@import url("reset.css");

/* Основні стилі */
body {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	color: #fff;
	background-color: var(--bg-color-main);
	font-size: 1rem;/* 16px */	
	/* font-size: 16px; */
}

:root {
	--bg-color-main: #383333;
	--bg-color-header: #333835;
	--bg-color-footer: #333356;
	--bg-color-hero:#7a956b;
	

}

.wrapper {
	overflow: clip;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

.wrapper>main {
	flex-grow: 1;
}

[class*="__container"] {
	max-width: 87.5rem;
	margin: 0 auto;
	padding-left: .9375rem;
	padding-right: .9375rem;
}

.header{
	position: fixed;
	width: 100%;
}

.header__title {
	padding: 1.25rem 0;
	text-transform: uppercase;
	background-color: var(--bg-color-header);
	text-align: center;
	
}

.footer__title {
	padding: 1.25rem 0;
	text-transform: uppercase;
	background-color: var(--bg-color-footer);
	text-align: center;
	
}

.hero{
	background-color: var(--bg-color-hero);
	min-height: 100svh;
	display: flex;
	align-items: center;
	justify-content: center;
	
}

.hero img{
	width: 100vh;
	height: 50svh;
	object-fit: contain;
	display: block;	
	
}

.test {
	max-width: 31.25rem;
	margin-bottom: 1.25rem;

}

.test__text {
	width: 50%;
	font-size: 120%;
	line-height: 1.2;

}

.test-rem {
	font-size: 1.25rem;
	line-height: 1.5;
	margin-bottom: 1.25rem;

}

@media(max-width:48.75rem) {
	.test-rem {
		font-size: 1rem;
	}
}

.test-em{
	font-size: 1em;
	margin-bottom: 1.25rem;
	
}

.test-calc{
		background-color: rgb(9, 10, 10);
}

.test-calc__text{
width: calc(100% - 10rem);
margin-bottom: 1.25rem;

}

.test-clamp{
font-size: clamp(.875rem, 5vw, 2.5rem);
}

.test-minmax{
	width: min(25rem, 100%);
	background-color: #794f45;
	padding: 1rem;
	margin-bottom: 1.25em;
}

.test-pointer-events__link{
	pointer-events: none;
}

@media(max-width:48.75rem) {
	.test-pointer-events__link {
		pointer-events: auto;
	}
}


.test-vertical-text{
	writing-mode: vertical-lr;
	color: rgb(21, 219, 21);
	inline-size: 40rem;
	block-size: 15rem;
	padding-inline: 1.5rem;
	padding-block: 1.5rem;
}





















/*  Дзеркальне відображення */
.mirror {
	transform: scale(-1, 1);
}

/*
Медіа запити контейнера
https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_containment/Container_queries
*/
/*
.post {
	container-type: inline-size;
}
.title {
	font-size: 28px;
}
@container (min-width: 43.75em) {
	.title {
		font-size: 48px;
	}
}
*/
/* Сабгріди */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_grid_layout/Subgrid */
.subgrid {}

.grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1.25rem;
}

.grid__item {
	/* grid-column: span 3; */

	/* Від першої до останьої лінії */
	grid-column: 1 / -1;

	display: grid;
	grid-template-columns: subgrid;
}

.subgrid {
	height: 200px;
	background-color: #7a956b;
}

/* Дозволяє обрізати елементи */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/clip-path 
	https://bennettfeely.com/clippy/
*/

.star {
	background-color: yellow;
	inline-size: 9.375rem;
	block-size: 9.375rem;
	clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}

/*
CSS властивість scroll-margin-top визначає верхнє поле області прив'язки прокручування, 
яке використовується для прив'язки цього поля до порту прив'язки.
Наприклад, якщо у нас є фіксований заголовок із класом .header і ми хочемо встановити 
відступ при прокрутці до елемента з id, ми можемо використати такий код CSS:
Приклад:
Фіксовані заголовки та посилання переходу:
https://codepen.io/chriscoyier/pen/GRJpopp 
*/